@using Microsoft.EntityFrameworkCore
@model RiskOfRain.Web.ViewsModels.MonstreIndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = Model.pageTitle;
}

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold display-2">Bestiaire</h2>
                <p class="text-muted display-7">Retrouvez ici tout les monstres classifié dans notre bdd.</p>
                <a asp-controller="Home" asp-action="Create" class="btn btn-dark text-white btn-outline-white">Ajouter Monstre</a>
            </div>
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            @foreach(var item in Model.Monstres)
            {
                <div class="col mb-4" style="">
                    <div><a href="#"><img class="rounded img-fluid shadow w-100 fit-cover" src="https://cosplaycart.de/cdn/shop/products/60021-cosplaystyle2014.jpg?v=1649843396" style="height: 250px;"/></a>
                        <div class="py-4"><span class="badge bg-primary mb-2">@item.TypeMonstre</span>
                            <h4 class="fw-bold">@item.NomMonstre</h4>
                            <p class="text-muted">Point de vie: @item.PvMonstre/@item.PvMaxMonstre</p>
                            <a asp-controller="Home" asp-action="" class="link-secondary">Voire détails du monstre</a>
                            <a asp-controller="Home" asp-action="DeleteMonster" asp-route-id="@item.IdMonstre" class="link-danger">Supprimer Monstre</a>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.IdMonstre" class="link-info">Modifier Monstre</a>
                        </div>
                    </div>
                </div> 
            }
        </div>
    </div>
</section>
